@font-face {
  font-family: 'Gilroy';
  src: url('~assets/fonts/gilroy-light.woff2') format('woff2');
  font-weight: 300;

}

@font-face {
  font-family: 'Gilroy';
  src: url('~assets/fonts/gilroy-bold.woff2') format('woff2');

  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('~assets/fonts/gilroy-medium.woff2') format('woff2');

  font-weight: medium;
}

@font-face {
  font-family: 'Gilroy';
  src: url('~assets/fonts/gilroy-semibold.woff2') format('woff2');

  font-weight: semibold;
}